<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Main</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/apple-touch-icon.png"
    />
    
    <link
      href="https://fonts.googleapis.com/css?family=Karla:400,700&amp;display=swap"
      rel="stylesheet"
    />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=MedievalSharp&family=Noto+Sans+Khojki&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap"
      rel="stylesheet"
    />
    <link href="/css/app.css" rel="stylesheet" />
    <link href="/css/character.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
        <title>D&D Character Creator</title>
  </head>

 <header class="header-container">
      <div class="hero-logo">
        <a>
          <img class="logo-style" src="/img/dnd-logo.svg"></img>
        </a>
      </div>
    <div class="nav">
        {{#if logged_in}}
        <a class="header-options" href="/home">Home</a>
        {{/if}}

        {{#if logged_in}}
        <a class="header-options" id="logout" href="/login">Logout</a>
        {{/if}}
        {{#else}}
        <a class="header-options" href="/login">Login</a>
        {{/else}}
    </div>
</header>

  <body>
    {{{body}}}
  </body>
<script src="/js/helper.js"></script>
</html>