<!-- FORM -->

<section>
  <img class="intro-background" src="/img/DND-Character-Background.png" />
  <form class="form-wrapper">
    <div class="question-section">
      <label for="name">Name:</label>
      <p class="character-attribute"></p>
    </div>

    <div class="grid-container">
      <div class="question-section">
        <label for="class">Class:</label>
        <p class="character-attribute"></p>
      </div>

      <div class="question-section">
        <label for="race">Race:</label>
        <p class="character-attribute"></p>
      </div>

      <div class="question-section">
        <label for="alignment">Alignment:</label>
        <p class="character-attribute"></p>
      </div>

      <div class="question-section">
        <label for="strength">Strength:</label>
        <p class="character-attribute"></p>
      </div>

      <div class="question-section">
        <label for="dexterity">Dexterity:</label>
        <p class="character-attribute"></p>
      </div>

      <div class="question-section">
        <label for="constitution">Constitution:</label>
        <p class="character-attribute"></p>
      </div>

      <div class="question-section">
        <label for="intelligence">Intelligence:</label>
        <p class="character-attribute"></p>
      </div>

      <div class="question-section">
        <label for="wisdom">Wisdom:</label>
        <p class="character-attribute"></p>
      </div>

      <div class="question-section">
        <label for="charisma">Charisma:</label>
        <p class="character-attribute"></p>
      </div>
    </div>

    <button id="outputBtn" type="submit" class="button">Save Character</button>
  </form>
</section>