<div class="page page_login">
  <form class="form login-form" action="/login" method="POST">
    <div class="form__container">
      <div class="logo"><img
          class="logo__pic"
          src="img/logo.svg"
          width="45"
        /></div>
      <div class="fieldset">
        <div class="field"><input
            class="input"
            id="email-login"
            type="email"
            name="email"
            placeholder="E-mail address"
            required
          /></div>
        <div class="field"><input
            class="input"
            id="password-login"
            type="password"
            name="password"
            placeholder="Password"
            required
          /></div>
        {{! button element changed to anchor }}
      </div><button id="loginbtn" class="btn" type="submit">Sign in</button>
            placeholder="Create password"
            required
          /></div>
        {{! button element changed to anchor }}
      </div><button id="loginbtn" class="btn">Log in</button>
    <div class="form__footer">Don't Have an Account?
      <a href="/signup">Create it</a>.</div>
  </form>
  <div class="about">Website template by ⚡
    <a href="https://niceverynice.com">Nice, Very Nice</a></div>
</div>
<script src="/js/login.js"></script>